<div class="d-flex align-items-center justify-content-center flex-column my-5">
    <h1 class="my-5">Your property is under review, as soon as it is completed you will be notified</h1>
    <svg version="1.1" id="L2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        class="my-5" y="0px" width='100px' fill="" height='100px' viewBox="0 0 100 100"
        enable-background="new 0 0 100 100" xml:space="preserve">
        <circle fill="#003580" stroke="#fff" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="48" />
        <line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50"
            x2="85" y2="50.5">
            <animateTransform attributeName="transform" dur="2s" type="rotate" from="0 50 50" to="360 50 50"
                repeatCount="indefinite" />
        </line>
        <line fill="none" stroke-linecap="round" stroke="#fff" stroke-width="4" stroke-miterlimit="10" x1="50" y1="50"
            x2="49.5" y2="74">
            <animateTransform attributeName="transform" dur="15s" type="rotate" from="0 50 50" to="360 50 50"
                repeatCount="indefinite" />
        </line>
    </svg>
</div>