.personal-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}
.badge-rating {
  border-radius: 5.09091px 5.09091px 5.09091px 0;
  width: 28px;
  height: 28px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: white;
  background-color: #003580;
  display: flex;
  justify-content: center;
  align-items: center;
}
.received:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #f8f9fa;
  border-top: 10px solid #f8f9fa;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 10px;
}
.box {
  position: relative;
  border-radius: 6px;
}
.spinner {
  height: 500px;
}
