<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="container py-5">
    <div class="row w-50 align-items-center justify-content-between" *ngIf="propReviews.length>0&&!isLoading">
        <h1>Guest reviews</h1>
        <h2>{{totalReviews}} Reviews </h2>
        <h2><span
                class=" bg-primary_color badge-rating ">{{avgReviews.toString().split('').splice(0,3).join('')}}</span>
        </h2>
    </div>

    <div>
        <div *ngFor="let review of propReviews" class=" pr-3  pt-3 col-8" style="border-radius: 4px;">
            <div class="row bg-white  rounded-5 py-3">
                <div class="col-4 d-flex justify-content-evenly">
                    <img class="personal-image col-4" [src]="review.userId.personalImage" alt="">

                    <div class="d-flex flex-column  ">
                        <h3 class="my-0">{{review.userId.username}}</h3>
                        <h5>{{review.userId.country}}</h5>
                        <span class=" bg-primary_color badge-rating ">{{review.starRating}}.0</span>
                    </div>

                </div>
                <div class="box received bg-light col-7 p-2">
                    {{review.body}}
                    <p class="text-muted mt-2 m-0">{{review.createdAt|date:'MMM d, y, h:mm:ss a'}}</p>
                </div>

            </div>


        </div>
    </div>
    <div *ngIf="propReviews.length<=0">
        <div class="d-flex py-5 my-5 justify-content-lg-center align-items-center flex-column">
            <svg data-test-id="default-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70px"
                fill="#888888" height="70px" class="bui-empty-state__icon">
                <path
                    d="M13.629 22.5H2.25a.75.75 0 0 1-.75-.75V2.25a.75.75 0 0 1 .75-.75h19.5a.75.75 0 0 1 .75.75v11.379a.75.75 0 0 1-.22.53L14.16 22.28a.75.75 0 0 1-.53.219zm0 1.5a2.25 2.25 0 0 0 1.59-.659l8.122-8.122A2.25 2.25 0 0 0 24 13.63V2.25A2.25 2.25 0 0 0 21.75 0H2.25A2.25 2.25 0 0 0 0 2.25v19.5A2.25 2.25 0 0 0 2.25 24h11.379zM15 23.115V15.75a.75.75 0 0 1 .75-.75h7.365a.75.75 0 0 0 0-1.5H15.75a2.25 2.25 0 0 0-2.25 2.25v7.365a.75.75 0 0 0 1.5 0z">
                </path>
            </svg>
            <h4 class="my-4" style="color:#888888">No Reviews</h4>
        </div>
    </div>
</div>