.notifi {
  transition-duration: 0.3s;
}
.notifi:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition-duration: 0.3s;
}
.notifiDiv {
  height: 385px;
  overflow-y: scroll;
}
