<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="container py-5" *ngIf="!isLoading">
    <h1 class="mb-4" *ngIf="bookings.length>0">Reservations</h1>
    <div *ngIf="bookings.length>0" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="w-100 ">


            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Guest name</th>
                <td mat-cell *matCellDef="let element"> {{element.guestId.username}} </td>
            </ng-container>


            <!-- Weight Column -->
            <ng-container matColumnDef="startAt">
                <th mat-header-cell *matHeaderCellDef> Check in </th>
                <td mat-cell *matCellDef="let element"> {{element.startAt| date:'mediumDate'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="endAt">
                <th mat-header-cell *matHeaderCellDef> Check out </th>
                <td mat-cell *matCellDef="let element"> {{element.endAt | date:'mediumDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Booked on </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'mediumDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
            </ng-container>

            <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef> Days </th>
                <td mat-cell *matCellDef="let element"> {{element.days}} </td>
            </ng-container>
            <ng-container matColumnDef="cancel">
                <th mat-header-cell *matHeaderCellDef> Cancel </th>
                <td mat-cell *matCellDef="let element"> <button mat-icon-button [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>cancel</mat-icon>

                            <span mat-stroked-button (click)="openSnackBar(element._id)"> Ask
                                guest to cancel</span>


                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
    <div *ngIf="bookings.length<=0">
        <div class="d-flex  my-5 py-5 justify-content-lg-center align-items-center flex-column">
            <svg data-test-id="default-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70px"
                fill="#888888" height="70px" class="bui-empty-state__icon">
                <path
                    d="M13.629 22.5H2.25a.75.75 0 0 1-.75-.75V2.25a.75.75 0 0 1 .75-.75h19.5a.75.75 0 0 1 .75.75v11.379a.75.75 0 0 1-.22.53L14.16 22.28a.75.75 0 0 1-.53.219zm0 1.5a2.25 2.25 0 0 0 1.59-.659l8.122-8.122A2.25 2.25 0 0 0 24 13.63V2.25A2.25 2.25 0 0 0 21.75 0H2.25A2.25 2.25 0 0 0 0 2.25v19.5A2.25 2.25 0 0 0 2.25 24h11.379zM15 23.115V15.75a.75.75 0 0 1 .75-.75h7.365a.75.75 0 0 0 0-1.5H15.75a2.25 2.25 0 0 0-2.25 2.25v7.365a.75.75 0 0 0 1.5 0z">
                </path>
            </svg>
            <h4 class="my-4" style="color:#888888">You haven't received any bookings</h4>
        </div>
    </div>

</div>