<div class=" h-100 d-flex justify-content-center my-5 w-75 rounded-3 mx-auto align-items-center">
    <div class="d-flex justify-content-evenly container h-100 my-4  align-content-center flex-wrap">
        <mat-card routerLink="/add-new-apartment"
            class="col-md-3 mb-4 propCard  d-flex flex-column justify-content-center align-items-center">
            <img mat-card-image class="w-50  mb-4"
                src="https://q.bstatic.com/static/img/join/segmentation/accomm_one_apt_main@2x.png">
            <mat-card-title>Apartment</mat-card-title>
            <mat-card-content class="text-center"> Furnished and self-catering accommodations where guests rent the
                entire place.
            </mat-card-content>

        </mat-card>
        <mat-card routerLink="/add-new-campground"
            class="col-md-3 mb-4 propCard d-flex flex-column justify-content-center align-items-center">
            <img mat-card-image class="w-50  mb-4"
                src="https://q.bstatic.com/static/img/join/segmentation/tent-big@2x.png">
            <mat-card-title>Campground</mat-card-title>
            <mat-card-content class="text-center">Accommodations offering cabins or bungalows alongside areas for
                camping or campers</mat-card-content>
        </mat-card>
        <mat-card routerLink="/add-new-hotel"
            class="col-md-3 mb-4 propCard  d-flex flex-column justify-content-center align-items-center">
            <img mat-card-image class="w-50 mb-4"
                src="https://q.bstatic.com/static/img/join/segmentation/accomm_hotels_main_v2@2x.png">
            <mat-card-title>Hotel</mat-card-title>
            <mat-card-content class="text-center"> Accommodations for travelers often with restaurants, meeting rooms
                and other guest
                services</mat-card-content>
        </mat-card>


    </div>
</div>