<nav class="navbar navbar-expand-lg navbar-light text-light naV py-4">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ">
        <li class="nav-item">

          <a class="nav-link active text-light" aria-current="page" href="#">About Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light " href="#">Privacy& Cookie Statement </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">FAQs</a>

        </li>

      </ul>
    </div>

    <div class="d-flex flex-wrap justify-content-end">
      <button type="button" class="btn btn-primary active me-5" routerLink="/add-property-home"> Add new property
      </button>
      <button type="button" class="btn btn-primary active"> Share your feedback</button>

    </div>
  </div>
</nav>