.messages {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.personal-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 5px;
}
.reply {
  margin-left: auto;
  color: white;
  background-color: #003580;
}
.spinner {
  height: 500px;
}
