<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="container py-5" *ngIf="!isLoading">
    <h1 *ngIf="allMessages.length>0&&!isLoading">Questions for your property</h1>
    <div class="col-8">
        <div class="my-2" *ngFor="let message of allMessages ; let i = index">
            <div class="row rounded-1 messages container py-5 d-flex flex-column">
                <div class="col-5 d-flex ">
                    <img class="personal-image" [src]="message.userId.personalImage" alt="">
                    <div class="d-flex flex-column  mx-3">
                        <h3 class="my-0">{{message.userId.username}}</h3>
                        <h5>{{message.userId.country}}</h5>
                    </div>

                </div>
                <div class="d-flex flex-column">
                    <mat-card class="w-75">
                        {{message.body}}
                    </mat-card>
                    <div *ngIf="allReplys[i]">
                        <div *ngFor="let reply of allReplys[i]">
                            <mat-card class="w-75 ms-auto my-2  reply">
                                {{reply}}
                            </mat-card>
                        </div>
                    </div>
                </div>
                <mat-form-field class="example-full-width mt-4 w-100" appearance="outline">
                    <mat-label>Answer</mat-label>
                    <textarea #replay class="w-100" matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="leaveReply(message._id,replay,i)">Answer</button>
            </div>
        </div>

    </div>
    <div *ngIf="allMessages.length<=0&&!isLoading">
        <div class="d-flex py-5 my-5 justify-content-lg-center align-items-center flex-column">
            <svg data-test-id="default-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70px"
                fill="#888888" height="70px" class="bui-empty-state__icon">
                <path
                    d="M13.629 22.5H2.25a.75.75 0 0 1-.75-.75V2.25a.75.75 0 0 1 .75-.75h19.5a.75.75 0 0 1 .75.75v11.379a.75.75 0 0 1-.22.53L14.16 22.28a.75.75 0 0 1-.53.219zm0 1.5a2.25 2.25 0 0 0 1.59-.659l8.122-8.122A2.25 2.25 0 0 0 24 13.63V2.25A2.25 2.25 0 0 0 21.75 0H2.25A2.25 2.25 0 0 0 0 2.25v19.5A2.25 2.25 0 0 0 2.25 24h11.379zM15 23.115V15.75a.75.75 0 0 1 .75-.75h7.365a.75.75 0 0 0 0-1.5H15.75a2.25 2.25 0 0 0-2.25 2.25v7.365a.75.75 0 0 0 1.5 0z">
                </path>
            </svg>
            <h4 class="my-4" style="color:#888888">No Questions</h4>
        </div>
    </div>

</div>