<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 my-4">
        <h1 class="title">Edit Profile</h1>
        <div class="card">
          <div class="header">

          </div>
          <div class="content p-2">
            <form>
              <div class="row my-3">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="tttz" disabled [(ngModel)]="admin.email"
                      [value]="admin.email" placeholder="Email" />
                  </div>
                </div>
              </div>

              <div class="row my-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="tttw" [(ngModel)]="admin.firstName"
                      [value]="admin.firstName" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="ttte" placeholder="Last Name"
                      [(ngModel)]="admin.lastName" [value]="admin.lastName" />
                  </div>
                </div>
              </div>

              <div class="row my-3">
                <div class="col-md-12 ">
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="password"
                      [(ngModel)]="admin.password" />
                  </div>
                </div>
              </div>

              <div class="row my-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="tttd" placeholder="City" [(ngModel)]="admin.city"
                      [value]="admin.city" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="ttts" placeholder="Country"
                      [(ngModel)]="admin.country" [value]="admin.country" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" name="ttta" placeholder="Phone" [(ngModel)]="admin.phone"
                      [value]="admin.phone" />
                  </div>
                </div>
              </div>

              <button class="btn btn-info btn-fill pull-right" (click)="updateAdmin()">
                Update Profile
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <div class="card card-user mt-4 d-flex justify-content-center flex-column align-items-center">
          <!-- <div class="image">
            <img src="assets/photo-1604223190546-a43e4c7f29d7.jpg" alt="..." />
          </div> -->
          <div class="content">
            <div class="author p-3">
              <ng-container *ngIf="previews.length<=0">
                <div class="d-flex justify-content-center">
                  <img class="mt-2 image mx-auto" [src]="admin.personalImage" alt="" srcset="">

                </div>
              </ng-container>
              <div class="d-flex justify-content-center">
                <img class="image mx-auto" *ngFor='let preview of previews' [src]="preview">
              </div>
              <div class="col-8 my-3">
                <label class="btn btn-default p-0">
                  <input required type="file" name="multiple_images" accept="image/*" (change)="selectFiles($event)" />
                </label>
              </div>



              <h4 class="title my-3 ">
                <input type="text" class="form-control" name="ttta" placeholder="username" [(ngModel)]="admin.username"
                  [value]="admin.username" />
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>