<header>
  <div class="container d-flex align-items-center py-3 align-items-center justify-content-between">
    <div class="d-flex">
      <h1 class="booking-header my-auto">Booking.com</h1>

    </div>

    <div class="d-flex ">
      <form class="d-flex align-items-center">
        <input class="form-control search-input me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit">
          <svg focusable="false" fill="currentColor" height="19" width="19" role="presentation" fill="white"
            aria-hidden="true" viewBox="0 0 24 24"
            class="ext-search-input__icon ext-search-input__icon--white bk-icon -streamline-magnifying_glass">
            <path
              d="M17.464 6.56a8.313 8.313 0 1 1-15.302 6.504A8.313 8.313 0 0 1 17.464 6.56zm1.38-.586C16.724.986 10.963-1.339 5.974.781.988 2.9-1.337 8.662.783 13.65c2.12 4.987 7.881 7.312 12.87 5.192 4.987-2.12 7.312-7.881 5.192-12.87zM15.691 16.75l7.029 7.03a.75.75 0 0 0 1.06-1.06l-7.029-7.03a.75.75 0 0 0-1.06 1.06z">
            </path>
          </svg>
        </button>
      </form>
      <div class="d-flex navElem flex-column align-items-center mx-3 pt-2" routerLink="/notifications">

        <h1 class="my-auto">
          <span [matBadge]="notifi" matBadgeOverlap="true" matBadgeColor="warn"></span>
          <fa-icon [icon]="faBell"></fa-icon>
        </h1>
      </div>
      <div class="d-flex navElem flex-column align-items-center mx-3 pt-2" routerLink="/partner">
        <svg focusable="false" fill="currentColor" height="20" width="20" role="presentation" fill="white"
          viewBox="0 0 24 24" aria-hidden="true" slot="icon"
          class="ext-action-menu__avatar--icon bk-icon -streamline-account_user">
          <path
            d="M16.5 9.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0zm1.5 0a6 6 0 1 0-12 0 6 6 0 0 0 12 0zm1.445 10.597c-4.086-4.111-10.732-4.132-14.844-.046l-.046.046a.75.75 0 0 0 1.064 1.058l.04-.04a8.996 8.996 0 0 1 12.722.04.75.75 0 0 0 1.064-1.058zM22.5 12c0 5.799-4.701 10.5-10.5 10.5S1.5 17.799 1.5 12 6.201 1.5 12 1.5 22.5 6.201 22.5 12zm1.5 0c0-6.627-5.373-12-12-12S0 5.373 0 12s5.373 12 12 12 12-5.373 12-12z">
          </path>
        </svg>
        <h4 class="my-auto">Account</h4>
      </div>
      <div class="d-flex navElem flex-column align-items-center ml-3 pt-2" (click)="logout()">
        <svg class="bk-icon -streamline-sign_out" height="20" width="20" viewBox="0 0 128 128" role="presentation"
          fill="white" aria-hidden="true" focusable="false">
          <path
            d="M1.19 66.83l20 20a4.002 4.002 0 1 0 5.66-5.66L13.67 68H88a4 4 0 0 0 0-8H13.67l13.18-13.17a4.002 4.002 0 1 0-5.66-5.66l-20 20c-.183.186-.35.387-.5.6 0 0 0 .11-.08.16a3 3 0 0 0-.28.53 2.25 2.25 0 0 0-.08.24 3 3 0 0 0-.15.51 3.94 3.94 0 0 0 0 1.58c.036.174.086.344.15.51.022.081.049.162.08.24.076.182.17.357.28.52 0 .06.05.11.08.16.15.216.317.42.5.61zm31.13 35c20.876 19.722 53.787 18.787 73.509-2.089 14.874-15.743 18.432-39.058 8.931-58.521-10.77-22.12-42-37.41-69.52-24a52 52 0 0 0-12.91 8.93 4.004 4.004 0 0 1-5.49-5.83 60.002 60.002 0 0 1 14.9-10.29C67.26-2.37 106.48 6 122 37.74c14.519 29.787 2.142 65.704-27.645 80.223-22.44 10.938-49.308 6.839-67.465-10.293a4 4 0 0 1 5.48-5.82z">
          </path>
        </svg>
        <h4 class="my-auto">Logout</h4>
      </div>
    </div>

  </div>
  <div class="container  d-flex justify-content-start ">
    <div class="d-flex  flex-column align-items-center NavHover p-3 mr-1" routerLink="/grouphomepage"
      routerLinkActive="active">

      <h4 class="my-auto">Group homepage</h4>
    </div>
    <div class="d-flex  flex-column align-items-center NavHover p-3 mx-1" routerLink="/reviews"
      routerLinkActive="active">

      <h4 class="my-auto">Reviews</h4>
    </div>
    <div class="d-flex  flex-column align-items-center NavHover p-3 mx-1" routerLink="/reservations"
      routerLinkActive="active">

      <h4 class="my-auto">Reservations</h4>
    </div>
    <div class="d-flex  flex-column align-items-center NavHover p-3 mx-1" routerLink="/partner"
      routerLinkActive="active">

      <h4 class="my-auto">Account</h4>
    </div>
  </div>
</header>